[submodule "core"]
	path = core
	url = https://github.com/Julian30520/core.git
[submodule "service"]
	path = service
	url = https://github.com/Julian30520/service.git
[submodule "webapp"]
	path = webapp
	url = https://github.com/Julian30520/webapp.git
